<hr>
<h2>Reactive Form</h2>

<div>
    <form [formGroup]="regForm" (ngSubmit)="register()">

        <div>
            <label for="text">Name : </label>
            <input type="text" placeholder="Enter Your Name" formControlName="Name">

            <span *ngIf="regForm.controls['Name'].touched && !regForm.controls['Name'].valid">
                
                <span *ngIf="regForm.controls['Name'].hasError('required')">
                    Name is Required !!!
                </span>   

                <span *ngIf="regForm.controls['Name'].hasError('minlength')">
                    Name must be at least 3 characters long.
                </span>   

                <span *ngIf="regForm.controls['Name'].hasError('maxlength')">
                    Name must be less than 15 characters.
                </span>  
                
            </span>
        </div>

        <br>
        <div>
            <label for="email">Email : </label>
            <input type="email" placeholder="Enter Your Email" formControlName="Email">
            <span *ngIf="regForm.controls['Email'].touched && !regForm.controls['Email'].valid">
                
                <span *ngIf="regForm.controls['Email'].hasError('required')">
                    Email is Required !!!
                </span>   

                <span *ngIf="regForm.controls['Email'].hasError('email')">
                    Email is Invalid !!!
                </span>  
                
            </span>
        </div>

        <br>
        <div>
            <label for="tel">Phone : </label>
            <input type="tel" placeholder="Enter Your Number" formControlName="PhoneNo">
            <span *ngIf="regForm.controls['PhoneNo'].touched && !regForm.controls['PhoneNo'].valid">
                
                <span *ngIf="regForm.controls['PhoneNo'].hasError('required')">
                    Phone Number is Required !!!
                </span>  

                <span *ngIf="regForm.controls['PhoneNo'].hasError('minlength')">
                    Phone Number Length Must be 10.
                </span>   

                <span *ngIf="regForm.controls['PhoneNo'].hasError('maxlength')">
                    Phone Number Length Must be 10.
                </span>  
                
            </span>
        </div>

        <br>
        <div>
            <label for="city">City : </label>
            <select name="city" required formControlName="City">
                <option value=""disabled>Select your city</option>
                <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
            </select>
            <span *ngIf="regForm.controls['City'].touched && !regForm.controls['City'].valid">
                City is Required !!!
            </span>
        </div>

        <br>
        <div>
            <button type="submit" [disabled]="!regForm.valid">Submit</button>
        </div>

    </form>
</div>